# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ETERNAL_KEYPAD_CUSTOM
	def_bool $(shields_list_contains,eternal_keypad_custom)

	config SHIELD_ETERNAL_KEYPAD_LEFTY_CUSTOM
	def_bool $(shields_list_contains,eternal_keypad_lefty_custom)

