# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ETERNAL_KEYPAD_CUSTOM || SHIELD_ETERNAL_KEYPAD_LEFTY_CUSTOM

config ZMK_KEYBOARD_NAME
	default "Eternal Keypad"

config ZMK_STUDIO
    default n
		
endif
